.category-bar {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  position: relative;
  background-color: #a46a71;
  padding: 10px 0px 10px 0px;
}

.category-item {
  cursor: pointer;
  padding: 0px 10px 0px 10px;
}

.subcategory-window {
  position: absolute;
  height: 400px;
  width: 100vw;
  top: calc(100%+2px);
  left: 0;
  display: flex;
  flex-direction: column;
  background-color: #f0e2e3;
  border: 1px solid #ccc;
  padding: 5px;
  z-index: 1;
  overflow-y: auto;
}

.subcategory-container {
  display: flex;
  flex-direction: row;
}
.subcategory-item {
  padding: 15px;
  margin: 5px;
  cursor: pointer;
  color: white;
}
.subcategory-item:hover {
  color: #44344f;
  border-bottom: 1px solid #44344f;
}

/* Additional styling can be added for better appearance */
