/* .cpBody {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.dashboard-page {
  display: flex;
  width: 40%;
  background-color: yellow;
}

.dashboard {
  flex: 1;
  padding: 20px;
  background-color: #c39b9b;
}

.dashboard-links {
  border-right: 1px solid #ccc;
}

.dashboard-links h2 {
  margin-bottom: 20px;
}

.dashboard-links ul {
  list-style: none;
  padding: 0;
}

.dashboard-links li {
  margin-bottom: 10px;
}

.dashboard-links a {
  color: #333;
  text-decoration: none;
}

.dashboard-links a:hover {
  color: #007bff;
}

.user-information {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
}

.user-profile {
  display: flex;
  margin-bottom: 20px;
}

.user-info {
  flex: 1;
}

.user-info img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.additional-info {
  display: flex;
  flex-direction: column;
}

.recent-purchases,
.social-media {
  flex: 1;
  margin-right: 20px;
}

.recent-purchases h3,
.social-media h3 {
  margin-bottom: 10px;
}

.recent-purchases ul,
.social-media ul {
  padding: 0;
  list-style: none;
}

.recent-purchases li,
.social-media li {
  margin-bottom: 5px;
} */

.cpBody {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(135deg, #ceb1be, #4c5c68);
}
.user-profile {
  display: flex;
  justify-content: space-between;
}
.user-info {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
}
.image-container {
  width: 50%;
  display: flex;
  align-items: center;
}
.image-container img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}
.dashboard {
  border-radius: 10px 0 0 10px;
}
.dashboard-page {
  display: flex;
  width: 70%;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}
.dashboard-links {
  justify-content: space-between;
}
.link-item {
  padding: 1rem 1.3rem;
  transition: all 0.3s ease;
}
.additional-info {
  display: flex;
  justify-content: space-between;
}
.dashboard-text {
  padding: 5px 10px;
  background-color: #648784;
  color: #e9dcdc;
  border-radius: 7px;
}

.recent-purchases {
  margin-right: 20px;
  opacity: 0.9;
}
.social-media {
  opacity: 0.9;
}
.recent-purchases li {
  margin-bottom: 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.recent-purchases h3 {
  background: #648784;
  padding-top: 4px;
  color: #f1edec;
  padding-left: 3px;
  padding-bottom: 4px;
  width: 150px;
  border-radius: 5px;
}
.social-media h3 {
  background: #648784;
  color: #f1edec;
  padding-top: 4px;
  padding-left: 3px;
  padding-bottom: 4px;
  width: 110px;
  border-radius: 5px;
}
.social-media li {
  margin-bottom: 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.link-item:hover {
  background-color: #46494c;
  color: #e9dcdc;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.profile-image {
}

.user-info p {
  padding-bottom: 10px;
}

.user-profile {
}

.back-button-customer {
  background-color: #648784;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  position: fixed;
  top: 20px;
  left: 20px;
  font-family: "Roboto", sans-serif;
}

.back-button-customer:hover {
  background-color: #46494c;
  color: #e9dcdc;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
