/* styles.css (or styles.scss, styles.less, etc.) */

.ecommerce-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff; /* Background color for the header */
  padding: 10px 20px;
  color: #222; /* Light text color */
}

.search-bar {
  position: relative;
  height: 25px;
  width: 400px;
}

.search-icon {
  position: absolute;
  top: 80%;
  right: 2px;
  transform: translateY(-50%);
  cursor: pointer;
  /* Adjust the margin between the search icon and input field */
}

.search-input {
  padding: 8px;
  height: 100%;
  border: 1px solid #222; /* Border color same as text color */
  outline: none;
  width: 100%;
  display: flex;
  align-items: center;
}

.logo {
  flex-grow: 1; /* Allow the logo to grow and take available space */
  text-align: center; /* Center the logo within the available space */
}

.logo-image {
  max-height: 50px; /* Adjust the maximum height of the logo */
}

.user-icons {
  display: flex;
  align-items: center;
}

.icon {
  margin-left: 15px; /* Adjust the margin between the icons */
}
