.customer-login {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  /* background: rgba(244, 238, 229, 1); */
  background: #e9e9eb;
}

.customer-login .back-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #8c666d;
  margin-left: 0.5rem;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  color: #ebebf1;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  align-self: flex-start;
  margin-top: -100px;
  border: 1px solid #8c666d;
}

.customer-login .back-button:hover {
  background-color: #ebebf1;
  color: #8c666d; /* Darker blue on hover */
}
.customer-login .shopLogin {
  width: 350px;
  background-color: #8c666d;
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 10px 10px 10px 10px;
  color: #ebebf1;
  border-top: 2px solid #8c666d;
  border-left: 2px solid #8c666d;
  border-right: 2px solid #8c666d;
  transition: background-color 0.3s, color 0.3s;
}

.customer-login .shopLogin:hover {
  background-color: #e9e9eb;

  color: #8c666d;
}

.customer-login .shopLogin:active {
  background-color: #1f618d;
  border-color: #1f618d;
}

.customer-login .main {
  width: 350px;
  height: 500px;
  background: #e9e9eb;
  overflow: hidden;
  border: 2px solid #8c666d;
  border-radius: 10px 10px 10px 10px;
  /* box-shadow: 5px 20px 50px #000; */
}
.customer-login #chk {
  display: none;
}
.customer-login .signup {
  position: relative;
  width: 100%;
  height: 100%;
}

.customer-login label {
  color: #8c666d;
  font-size: 2.3em;
  justify-content: center;
  display: flex;
  margin: 60px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.customer-login .input {
  width: 60%;
  height: 40px;
  background: white;
  justify-content: center;
  display: flex;
  margin: 20px;
  margin-left: 70px;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
  color: #8c666d;
}

.customer-login .button {
  width: 60%;
  height: 40px;
  margin: 10px auto;
  justify-content: center;
  display: block;
  color: white;
  background: #8c666d;
  font-size: 1em;
  font-weight: bold;
  margin-top: 20px;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}
.customer-login .lgbtn {
  color: #535050;
  background: white;
}

.customer-login .button:hover {
  background-color: white;
  color: #786575;
}
#customer-login {
  border: 1px solid #8c666d;
}
#customer-login:hover {
  background-color: #8c666d;
  color: #e9e9eb;
  border: 1px solid #e9e9eb;
}

.customer-login .login {
  height: 460px;
  background: #8c666d;
  border-radius: 60% / 10%;
  transform: translateY(-180px);
  transition: 0.8s ease-in-out;
}
.customer-login .login label {
  color: white;
  transform: scale(0.6);
}

.customer-login #chk:checked ~ .login {
  transform: translateY(-500px);
}

.customer-login #chk:checked ~ .login label {
  transform: scale(1);
}
.customer-login #chk:checked ~ .signup label {
  transform: scale(0.6);
}

.shop-signup {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
}
.shop-signup p {
  padding: 2px;
  font-size: 0.8rem;
}

#start-here-shop {
  color: #8c666d;
}
#start-here-shop:hover {
  color: #62464b;
  cursor: pointer;
  text-decoration: underline;
}

.user-signup {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
}
.user-signup p {
  padding: 2px;
  font-size: 0.8rem;
}

#start-here-user {
  color: #e9e9eb;
}
#start-here-user:hover {
  color: #cfcfd3;
  cursor: pointer;
  text-decoration: underline;
}
